{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/salarie.css')}}>
{% endblock %}

{% block contenu %}

    {% if editMode %}
        <h1>Modification</h1>
    {% else %}
        <h1>Ajout</h1>
    {% endif %}

   {{ form_start(form, {'attr': {'class': 'form-material'}}) }}
    <div class="grix xs1 sm2">
        <div class="form-field">
            {{ form_label(form.raisonSociale, "Raison Sociale") }}
            {{ form_widget(form.raisonSociale)}}
        </div>
        <div class="form-field">
            {{ form_label(form.siret, "Siret") }}
            {{ form_widget(form.siret) }}
        </div>
        <div class="form-field">
            {{ form_label(form.adresse, "Adresse") }}
            {{ form_widget(form.adresse) }}
        </div>
        <div class="form-field">
            {{ form_label(form.cp, "Code Postal") }}
            {{ form_widget(form.cp) }}
        </div>
        <div class="form-field">
            {{ form_label(form.ville, "Ville") }}
            {{ form_widget(form.ville) }}
        </div>
        <div class="form-field">
            {{ form_widget(form.Valider, {'attr': {'class': 'btn rounded-1 green press'}}) }}
        </div>
    </div>
   {{ form_end(form) }}

{% endblock  %}